# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django specific
db.sqlite3
media/
static/
.env

# Django migrations
**/migrations/

# Credential files
config/credentials.json
config/token.json

# macOS-specific
.DS_Store

# Logs
*.log

# Python virtual environment
venv/
.env/

# IDE settings
.idea/
.vscode/
